.comments-container {
  background: white;
  padding: 20px;
  margin: 10px 20px;
  width: 100%;
  
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.comment-title {
  font-size: 20px;
}

.comments {
  padding: 10px;
  width: 100%;
}

.comment {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  background: white;

  border-bottom: 1px solid black;
  padding: 5px 10px;
  margin-top: 5px;
}

.comment div button{ 
  margin: 0;
  padding: 3px;

  background: none;
  border: 0;
  /* border-radius: 5px; */
}

.comment-form {
  display: flex;
  align-items: center;

  /* border: 1px solid red; */
  padding: 5px;
}

.comment-form button{
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(50, 175, 222); 

  margin: 5px;
  background: white;
  border: 1px solid white;
  border-radius: 3px;
}

.comment-form textarea{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;

  resize: vertical;
  /* height: 40px; */
  width: 100%;
  
}

.commenter {
  color: rgb(50, 175, 222); 
}
