.comment-title {
  font-size: 20px;
}

.comments {
  /* border: 1px solid red; */
  padding: 10px;

  width: 400px;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  border-radius: 5px;

  border-bottom: 1px solid black;
  padding: 5px 10px;
  margin-top: 5px;
}

.comment div button{
  margin: 0;
  padding: 3px;
  border-radius: 5px;
}

.comment-form {
  display: flex;
  align-items: center;

  /* border: 1px solid red; */
  padding: 5px;
}

.comment-form button{
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(50, 175, 222); 

  margin: 5px;
  background: white;
  border: 1px solid white;
  border-radius: 3px;
}

.comment-form textarea{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  resize: none;
  height: 40px;
  width: 300px;
  
}

