@keyframes colorrotate {
  from {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(50deg);
  }
  to {
    filter: hue-rotate(0deg);
  }
}

@keyframes colorrotate2 {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes colorpic {
  from {
    border-color: rgb(127, 255, 191);
  }
  10% {
    border-color: rgb(236, 255, 127);
  }
  20% {
    border-color: rgb(255, 225, 127);
  }
  30% {
    border-color: rgb(255, 163, 127);
  }
  40% {
    border-color: rgb(255, 142, 127);
  }
  50% {
    border-color: rgb(255, 127, 187);
  }
  60% {
    border-color: rgb(251, 127, 255);
  }
  70% {
    border-color: rgb(193, 127, 255);
  }
  80% {
    border-color: rgb(140, 127, 255);
  }
  90% {
    border-color: rgb(127, 168, 255);
  }
  to {
    border-color: rgb(127, 255, 255);
  }
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 30%
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes zoom {
  from, to{
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.15);
  }
}

@keyframes piceffect {
  from, to{
    filter: brightness(100%) contrast(100%);
    transform: scale(1.0) rotate(0deg);
  }
  50% {
    filter: brightness(115%) contrast(115%);
    transform: scale(1.05) rotate(20deg);
  }
}

@keyframes createeffect {
  from, to {
    transform: scale(1.0) rotate(0deg);
  }
  25% {
    transform: scale(1.05) rotate(5deg);
  }
  50% {
    transform: scale(1.15) rotate(0deg);
  }
  75% {
    transform: scale(1.05) rotate(-5deg);
  }
}

@keyframes shineeffect {
  from, to{
    opacity: 80%;
    transform: scale(1.0) rotate(0deg);
  }
  50% {
    opacity: 100%;
    transform: scale(1.1) rotate(10deg);
  }
}

@keyframes leftslideinz {
  from {
    opacity: 0%;
    position: relative;
    z-index: -2;
    top: -100px;
    left: 200px;
  }
  to {
    opacity: 100%;
    position: relative;
    z-index: -2;
    top: 0px;
    left: 0px;
  }
}

@keyframes leftslidein {
  from {
    opacity: 0%;
    position: relative;
    left: 200px;
  }
  to {
    opacity: 100%;
    position: relative;
    left: 0px;
  }
}

@keyframes logoeffect {
  from {
    opacity: 0%;
    height: 200px;
    position: relative;
    top: -215px;
    margin-bottom: -215px;
  }
  to {
    opacity: 100%;
    height: 300px;
    position: relative;
    top: 25px;
  }
}

.outermost {
  /* height: 90vh; */
  height: 100%;
}

.frontlogowrapper {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  border: 1px solid red;
  flex-direction: column;
}

/* .front-logo {
  display: flex;
  border: 1px solid red;
} */

.front-logo img {
  position: relative;
  top: 25px;
  z-index: -5;
  height: 300px;
  /* border: 1px solid red; */
  animation:
    2.5s infinite colorrotate,
    5s infinite zoom,
    0.5s logoeffect;
}

.paintsocialtitle {
  position: relative;
  top: 15%;
  left: 5%;
  width: 600px;
  height: 300px;
  animation-duration: 1s;
  animation-name: colorrotate;
  animation-iteration-count: infinite;
  border: 1px solid red;
}

.splashMessage {
  position: relative;
  top: -10px;
  left: 110px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0, 1);
  border-bottom: 2px solid black;
  /* background-color: rgb(255, 255, 255, 0.4); */
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
  /* margin-left: 600px; */
  padding: 15px;
  width: 600px;
  display: flex;
}

.meet {
  position: relative;
  top: 50px;
  left: 250px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid black;
  /* background-color: rgba(255, 255, 255, 0.4); */
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  /* display: flex; */
}

.splashPageStart {
  position: relative;
  z-index: 5;
  top: -150%;
  left: 55%;
  display: flex;
  /* margin-left: 10px;   */
  border-radius: 50px;
  background-color: rgba(213, 242, 255, 0.7);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
  color: rgb(59, 223, 187);
  border: 5px outset rgb(0, 236, 197);
  cursor: pointer;
}

.splashPageStart:hover {
  position: relative;
  z-index: 5;
  background-color: rgba(213, 242, 255, 0.7);
  border: 5px inset rgb(0, 236, 197);
  animation:
    0.7s infinite createeffect,
    2s infinite colorpic
}

.paintbrush {
  /* border: 1px solid red; */
  position: relative;
  top: 0; left: 0; bottom: 0;
  width: 24%;
}

.splashProfiles {
  /* border: 1px solid red; */
  display: flex;
  height: 600px;
  width: 1200px;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile .picture {
  height: 150px;
  border-radius: 50%;
  margin: 15px;
  border: 4px solid rgba(237, 237, 237, 0.9);
  border-color: rgb(127, 255, 191);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.picture:hover {
  animation:
    0.5s infinite piceffect,
    1s infinite colorpic
}

.background1 img {
  position: relative;
  top: -350px;
  left: 50px;
  margin-bottom: -350px;
  z-index: -10;
  height: 500px;
  animation-duration: 60s;
  animation-name: colorrotate2;
  animation-iteration-count: infinite;
}

.background2 img {
  position: relative;
  top: -350px;
  left: 50px;
  margin-bottom: -350px;
  z-index: -10;
  height: 500px;
  animation-duration: 60s;
  animation-name: colorrotate2;
  animation-iteration-count: infinite;
}

.background3 img {
  position: relative;
  top: -350px;
  left: 50px;
  margin-bottom: -350px;
  z-index: -10;
  height: 500px;
  animation-duration: 60s;
  animation-name: colorrotate2;
  animation-iteration-count: infinite;
}

.background4 img {
  position: relative;
  top: -350px;
  left: 50px;
  margin-bottom: -350px;
  z-index: -10;
  height: 500px;
  animation-duration: 60s;
  animation-name: colorrotate2;
  animation-iteration-count: infinite;
}

.shine img {
  position: relative;
  top: -1325px;
  left: -140px;
  margin-bottom: -1325px;
  z-index: -1;
  height: 600px;
  animation-duration: 60s;
  animation-name: colorrotate2;
  animation-iteration-count: infinite;
  animation:
    10s infinite shineeffect
}

.left {
  /* border: 5px solid red; */
  /* background-image: url(../images/Paint-Meet-Team-Background.png); */
  position: relative;
  /* top: 0px; */
  left: -15px;
  max-height: 200px;
  max-width: 500px;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
}

.right {
  position: relative;
  top: 50px;
  left: -75px;
  /* border: 5px solid red; */
  /* background-image: url(../images/Paint-Meet-Team-Background.png); */
  max-height: 200px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  /* align-self: flex-start; */
  flex-wrap: wrap;
  
  margin-left: 50px;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  /* border-bottom: 3px solid rgb(155, 155, 155, 0.5); */
  /* border: 5px solid red; */
  margin-top: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 60%;
}

.description {
  position: relative;
  top: 20px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  /* border: 5px solid red; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  padding-top: 13px;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  /* width: 100%; */
}

.links {
  /* position: relative; */
  /* top: -120px;
  left: 90px; */
  margin-top: 30px;
  /* border: 5px solid red; */
  height: 100%;
  font-size: 15px;
  display: flex;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.background1 {
  animation-duration: 0.5s;
  animation-name: leftslideinz;
}

.background2 {
  animation-duration: 0.5s;
  animation-name: leftslideinz;
}

.background3 {
  animation-duration: 0.5s;
  animation-name: leftslideinz;
}

.background4 {
  animation-duration: 0.5s;
  animation-name: leftslideinz;
}

.background4 {
  animation-duration: 0.5s;
  animation-name: leftslideinz;
}

.names {
  animation-duration: 0.5s;
  animation-name: leftslidein;
}

.description {
  animation-duration: 0.5s;
  animation-name: leftslidein;
}

.links {
  position: relative;
  z-index: 5;
  animation-duration: 0.5s;
  animation-name: leftslidein;
}

.fab {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* height: 150%; */
  margin: 3px;
}

.links a:hover {
  animation:
    1s 1 fadein,
    0.5s 0.2s infinite zoom
}