.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 5px 25px;

  background: rgb(50, 175, 222); 
  z-index: 5;
  
}

.nav-links {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  padding: 5px;
  background: white;
  border-radius: 50%;
}

.logout-icon img, .newpainting-icon img, .welcome-icon img {
  height: 25px;
}

.nav-button {
  display: flex;
  align-items: center;

  padding: 5px;
  margin: 5px;

  background: white;
  /* background:lightgreen; */
  color: rgba(67, 164, 255, 1);;
  font-size: 14px;
  font-weight: 600;
}

.welcome-icon button {
  display: flex;
  align-items: center;

  padding: 5px;
  margin: 5px;

  background: white;
  /* background:lightgreen; */
  color: rgba(67, 164, 255, 1);;
  font-size: 14px;
  font-weight: 600;
}

.welcome-icon button img {
  margin-left: 5px;
  margin-right: 3px;
}