
.index-container {
  margin: 20px auto;

  width: 90%;
}

.painting-index {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 275px;

  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 20px auto;
}

.item-container {
  margin: 10px;
}

.painting-index-item{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  /* border: 1px solid lightgrey; */
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  background: white;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: all 500ms;
  overflow: hidden;
}

.painting-index-item:hover {
  transform: translateY(-1px) scale(1.05);
}

.painting-index-item p {
  position: relative;
  bottom: 10px;
  margin-bottom: 0;
  text-align: center;
}

.painting-index-item img {
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.title-likes{
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 5px;
  padding: 10px;
  z-index: 2;
}

.likes {
  display: flex;
  align-items: center;  
}

.toggle-like {
  background: none;
  border: 0;
  margin: 0;
  padding: 0 5px 0 0;
}

.toggle-like > img {
  height: 20px;
}

.far {
  font-size: 20px;
}

/* Draw Painting */

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}

canvas {
  box-shadow: 5px 5px 5px 5px rgb(56, 54, 54);
  cursor: crosshair;
  /* cursor: url(https://cdn.discordapp.com/attachments/597985513701376013/875047802160431174/Eraser.png), auto; */
}

/* ---------- */

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 15px 0;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  /* border-radius: 50%; */
  border: 2px solid white;
  align-self: center;
  margin: 0 5px;
}

.black { background: black; }
.red { background: red; }
.blue { background: blue; }
.yellow { background: yellow; }
.green { background: green; }

.color-picker:hover, .color-field:hover, .pen-range:hover, .eraser:hover {
  opacity: 70%;
}

.eraser img {
  position: relative;
  top: 5%;
  margin: 0 5px;
  border: 2px solid white;
  border-radius: 15px;
  width: 41px;
  cursor: pointer;
}

.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  background: #222;
  font-weight: bold;
  margin: 0 5px;
}

.color-picker {
  align-self: center;
  margin: 0 5px;
  height: 40px;
}

.pen-range {
  align-self: center;
  margin: 0 5px;
  padding: 10px;
}