@keyframes bounce1 {
  from, to {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.02);
  }
}

@keyframes bounce2 {
  from, to {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes bounce3 {
  from, to {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
}

body {

  /* background: rgb(238, 237, 229);  */
  /*  background: rgb(185, 70, 41); 
   background: rgb(232, 159, 101);  */

  /* background: linear-gradient(217deg, rgba(255,0,0,.3), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.3), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.3), rgba(0,0,255,0) 70.71%); */
  height: 100%;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  height: 1200px;
  
}

.topbackground img {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -200px;
  z-index: -15;
  animation-duration: 15s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.bottombackground img {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: -200px;
  z-index: -15;
  animation-duration: 15s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

a {
  text-decoration: none; 
  color: black;
}

a:hover {
  color: grey;
}

.formbacksign img {
  /* position: absolute; */
  top: -103.25%;
  left: 32.65%;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding-top: 50px;
  min-height: 80%;
  opacity: 70%;
  z-index: -5;
}

.formbacklog img {
  position: absolute;
  top: -165%;
  left: 32.65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding-top: 50px;
  width: 550px;
  min-height: 80%;
  opacity: 70%;
  z-index: -5;
}

.signup-form, .login-form {
  background-image: url("https://cdn.discordapp.com/attachments/597985513701376013/867246418484658176/Form_Background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 500px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  border-radius: 10px;  
  margin: 100px auto;
  padding: 50px 10px 20px 10px;
  z-index: 2;
}

.form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.demobutton {
  height: 34px;
  width: 96.5%;
  margin-left: 4px;
  font-size: 13px;;
  font-weight: bold;
  color: white;
  background-color: rgb(186, 67, 255);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.demobutton:hover {
  background-color: rgb(198, 101, 255);
  animation:
    0.5s infinite bounce1
}

.sign {
  margin-right: 15px;
  border-radius: 4px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.sign:hover {
  background-color: rgb(108, 184, 255);
  animation:
    0.5s infinite bounce2
}

h1 {
  font-size: 20px;
}

button {
  font-size: 12px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;

  cursor: pointer;
}

/* button:hover {
  background-color: rgb(216, 209, 209);
} */

input {
  text-align: center;
  padding: 7px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 25px rgb(255, 255, 255);
}

input:hover {
  animation:
    0.5s infinite bounce1
}

input:focus::placeholder {
  color: rgba(144, 148, 156, 0.85);
}

.welcome {
  margin-right: 15px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.welcome:hover {
  background-color: rgb(108, 184, 255);
  animation:
    0.5s infinite bounce2
}

.sign {
  margin-right: 15px;
  border-radius: 4px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.sign:hover {
  background-color: rgb(108, 184, 255);
  animation:
    0.5s infinite bounce2
}

.log {
  border-radius: 4px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.log:hover {
  background-color: rgb(108, 184, 255);
  animation:
    0.5s infinite bounce2
}

.submit {
  border-radius: 4px;
  background-color: rgba(67, 164, 255, 1);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(108, 184, 255);
  animation:
    0.5s infinite bounce1
}

.account {
  color: black;
  font-weight: bold;
  border: none;
  font-size: medium;
  text-shadow: 0 0 3px rgb(255, 255, 255, 0.6);
}

.alreadyMember {
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: medium;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.alreadyMember:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
  color:rgb(91, 176, 255);

}


