.outermost {
  height: 90vh;
}

.frontlogowrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  /* border: 1px solid red; */
  flex-direction: column;
}


.front-logo {
  /* margin-left: 200px; */
  /* position: absolute; */
  display: flex;
  /* margin-right: 27%; */
}

.paintsocialtitle {
  width: 600px;
  height: 300px;
}

.splashMessage {
  /* position: absolute; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(22, 22, 22);
  font-size: 25px;
  /* margin-left: 600px; */
  width: 80%;
  display: flex;
}

.splashPageStart {
  /* position: absolute; */
  display: flex;
  margin-right: 15px;
  border-radius: 6px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.splashPageStart:hover {
  background-color: rgb(108, 184, 255);
}

.paintbrush {
  position: relative;
  top: 0; left: 0; bottom: 0;
  width: 24%;
}

.splashProfiles {
  display: flex;
  height: 300px;
  width: 80%;
  justify-content: space-around;
}

.profile .picture {
  height: 100px;
  border-radius: 50%;
  border: 4px solid rgba(237, 237, 237, 0.9);
  border-color: rgb(127, 255, 191);
}

.picture:hover {
  animation-duration: 1s;
  animation-name: colorpic;
  animation-iteration-count: infinite;
}

@keyframes colorpic {
  from {
    border-color: rgb(127, 255, 191);
  }
  10% {
    border-color: rgb(236, 255, 127);
  }
  20% {
    border-color: rgb(255, 225, 127);
  }
  30% {
    border-color: rgb(255, 163, 127);
  }
  40% {
    border-color: rgb(255, 142, 127);
  }
  50% {
    border-color: rgb(255, 127, 187);
  }
  60% {
    border-color: rgb(251, 127, 255);
  }
  70% {
    border-color: rgb(193, 127, 255);
  }
  80% {
    border-color: rgb(140, 127, 255);
  }
  90% {
    border-color: rgb(127, 168, 255);
  }
  to {
    border-color: rgb(127, 255, 255);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.linkicon {
  /* height: 150%; */
  margin: 10px;
}