body {

  background: rgb(238, 237, 229); 
  /*  background: rgb(185, 70, 41); 
   background: rgb(232, 159, 101);  */
  
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 11px 10px;

  background: rgb(247, 250, 255); 
  z-index: 5;
}

.formbacksign img {
  position: absolute;
  top: -103.25%;
  left: 32.65%;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding-top: 50px;
  min-height: 80%;
  opacity: 70%;
  z-index: -5;
}

.formbacklog img {
  position: absolute;
  top: -165%;
  left: 32.65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  padding-top: 50px;
  width: 550px;
  min-height: 80%;
  opacity: 70%;
  z-index: -5;
}

.signup-form {
  position: relative;
  top: 80px;
  left: 1.25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;  
  margin: 100px auto;
  padding: 50px 10px 20px 10px;
}

.login-form {
  position: relative;
  top: 115px;
  left: 1.25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;  
  margin: 100px auto;
  padding: 50px 10px 20px 10px;
}

h1 {
  font-size: 20px;
}

button {
  font-size: 12px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;

  cursor: pointer;
}

/* button:hover {
  background-color: rgb(216, 209, 209);
} */

input {
  text-align: center;
  padding: 7px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 15px rgba(100, 180, 255, 1);
}

input:focus::placeholder {
  color: rgba(144, 148, 156, 0.85);
}

.sign {
  margin-right: 15px;
  border-radius: 6px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.sign:hover {
  background-color: rgb(108, 184, 255);
}

.log {
  border-radius: 6px;
  background-color: rgba(67, 164, 255, 1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.log:hover {
  background-color: rgb(108, 184, 255);
}

.submit {
  border-radius: 6px;
  background-color: rgba(67, 164, 255, 1);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(108, 184, 255);
}

.frontlogo img {
  position: relative;
  left: 28.5%;
  width: 45%;
  cursor: pointer;
}

/* .frontlogo:hover img {
  position: relative;
  top: -30px;
  left: 26%;
  width: 55%;
  opacity: 80%;
} */

.logo img {
  position: absolute;
  top: -1.90%;
  left: 0.25%;
  width: 80px;
  height: 80px;
}

.logo:hover img {
  position: absolute;
  top: -2.2%;
  left: 0.1%;
  width: 85px;
  height: 85px;
  opacity: 70%;
}

.newpaintingicon {
  position: relative;
  top: -7px;
  right: 180%;
}

.newpaintingicon img {
  position: absolute;
  top: 1px;
  right: 25%;
  width: 46.70px;
  height: 46.70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  /* border: 1.5px solid #ccc; */
  background: rgba(221, 221, 221, 0.25);
  border-radius: 200px;
  z-index: 10;
  cursor: pointer;
}

.newpaintingicon:hover img {
  position: absolute;
  top: -0.5px;
  right: 21%;
  width: 50.25px;
  height: 50.25px;
  opacity: 55%;
}

.logouticon {
  position: relative;
  top: -50px;
  right: 0%;
}

.logouticon img {
  position: absolute;
  top: 123.5%;
  right: 25%;
  width: 46.70px;
  height: 46.70px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background: rgba(221, 221, 221, 0.25);
  border-radius: 200px;
  z-index: 10;
  cursor: pointer;
}

.logouticon:hover img {
  position: absolute;
  top: 120%;
  right: 21%;
  width: 50.25px;
  height: 50.25px;
  opacity: 55%;
}


/* painting index */
.index-container {
  margin-top: 20px;
}

.index-container > h1{
  text-align: center;
}

.painting-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: white;

  border: 1px solid lightgrey;
  border-radius: 10px;
  width: 900px;
  margin: 20px auto;
}

.painting-index-item{
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* Draw Painting */

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid red;
}

canvas {
  box-shadow: 5px 5px 5px 5px rgb(56, 54, 54);
  cursor: pointer;
  /* width: 900px; */
  /* height: 100px; */
}

/* #canvas {
  position: relative;
  left: 17.5%;
  border: 2px solid black;
  background: white;
  /* width: 800px;
  height: 500px; */
} */